@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


.app{
font-family: 'Poppins', sans-serif;
}

table, thead, tr, th, td {
  border: 1px solid black;
}
 
::-webkit-scrollbar {
    display: none;
}
